.btn-colorpicker {
    border: 1px solid;
}
.fc-event {
    padding: 5px;
    font-size: 1.0em;
    line-height: 1.4;
    font-weight: 400;
}

.tags {
    display: inline-block;
    padding: 5px 4px 6px;
    color: #777;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    width: 100%;
    font-size: 14px;
}

.message-item .time {
    width: 80px;
}
