<form method="post" action="{{ path('calendar_item_delete', {'id': calendar_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar_item.id) }}">
    <button class="btn">Delete</button>
</form>
