{% extends 'base.html.twig' %}

{% block title %}Edit CalendarItem{% endblock %}

{% block body %}
    <h1>Edit CalendarItem</h1>

    {{ include('calendar_item/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
