<a href="{{ path('calendar_item_new', app.request.query.all()) }}" class="btn btn-success pull-right">
    <i class="ace-icon fa fa-calendar-plus-o align-top bigger-125"></i>
    New Calendar Item
</a>
