<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
			<span class="bigger-120">
				{{ site_name }} &copy; 2020-{{ "" | date("Y") }}
			</span>
        </div>
    </div>
</div>