<div class="toolbar clearfix">

    <div>
        <a href="{{ path('app_register') }}" class="user-signup-link">
            I want to register
            <i class="ace-icon fa fa-arrow-right"></i>
        </a>
    </div>
</div>