{% extends 'base.html.twig' %}

{% block title %}My Goals{% endblock %}

{% block breadcrumbs %}
    <li>
        My Goals
    </li>
{% endblock %}

{% block h1 %}
    My Goals
{% endblock %}


{% block body %}

{% endblock %}
