<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts_top %}
        {{ encore_entry_script_tags('jstop') }}
    {% endblock %}
</head>
<body class="no-skin">

<div id="app"></div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
