<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts_top %}
        {{ encore_entry_script_tags('jstop') }}
    {% endblock %}
</head>
<body class="login-layout">

<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <!-- PAGE CONTENT BEGINS -->
                {% block body %}
                {% endblock %}
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
